* {
    box-sizing: border-box;
}

body {
	background: #0c2340;
	text-align: center;
}

#container {
	padding: 5% 0;
    width:1200px;
    margin: 75px auto;
    
}

#subcontainer {
	position: relative;
	top: 20%;
}

#subcontainer h2 {
	font-family: 'Denver Broncos Custom', cursive;
	font-size: 30px;
	color: white;	

}

#subcontainer h3 {
	font-family: "Denver Broncos Custom", cursive;
	color: white;
	font-size: 30px;
}

h1 {
	font-family: 'Denver Broncos Custom', cursive;
	font-size: 32px;
	font-weight: bold;
	color: #FC4C02;
	padding: 10px 0px 10px 0px;
	margin: 0px 0px 50px 0px;
}

button {
	font-family: 'Denver Broncos Custom', cursive;
    display: block;
    width: 200px;
    height: 80px;
    margin: 80px auto 0 auto;
    cursor: pointer;
    font-size: 32px;
    color: #0c2340;
}

h2 {
	font-size: 50px;
	margin-bottom: 35px;
	
}

h3 {
	font-size: 35px;
	margin-bottom: 20px;
}

#start {
	margin-top: 10%;
	border: 2px solid white;
	background: #FC4C02;
}

#done {
	margin-top: 10%;
	border: 2px solid white;
	background: #FC4C02;
}

#play-area h2 {
	margin-top: 50px;
	color: #FC4C02;
}
script
{
	font-size: 26px;
}
h6{
	font-size:	24px;
	color: white;
	display: -ms-inline-grid;
	
	
}

